{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-no-unknown": null,
        "no-empty-source": null,
        "indentation": 4,
        "rule-empty-line-before": ["always", {
            ignore: [
                "after-comment", "first-nested"
            ],
        }],
        "selector-pseudo-element-colon-notation": "single",
        "no-descending-specificity": null,
        "comment-empty-line-before": null,
        "color-hex-length": null
    }
}
