{
  "src": "./dev",
  "dest": "./dist",
  "environment": {
    "development": {
      "archive": false,
      "ftpDeploy": false,
      "clean": true,
      "proxy": false
    },
    "production": {
      "archive": true,
      "ftpDeploy": true,
      "clean": false,
      "proxy": true
    }
  },
  "clean": [
    "./*"
  ],
  "copy": [
    {
      "name": "html",
      "base": "./",
      "src": [
        "*.html"
      ],
      "dest": "./"
    }
  ],
  "css": [
    {
      "name": "style",
      "base": "./",
      "src": [
        "./sass/**/*.scss"
      ],
      "dest": "./css",
      "sourcemaps": true,
      "concat": true,
      "order": [],
      "minify": true,
      "rename": true,
      "lint": true,
      "sass": false
    }
  ],
  "js": [
    {
      "name": "main",
      "base": "./",
      "src": [
        "./js/**/*.js"
      ],
      "dest": "./js",
      "sourcemaps": true,
      "concat": true,
      "order": [],
      "minify": true,
      "rename": true,
      "babel": false,
      "lint": true
    }
  ]
}
