/*!
    This is an important (!) comment and will be preserved.
*/
@import 'variables';
@import 'mixins/*';
@import 'layout/*';

// bootstrap media-breakpoint mixins examples
body {
    @include media-breakpoint-down(xs) {
        border: 10px solid black !important;
    }

    @include media-breakpoint-between(sm, md) {
        border: 10px solid blue !important;
    }

    @include media-breakpoint-only(lg) {
        border: 10px solid yellow !important;
    }

    @include media-breakpoint-up(xl) {
        border: 10px solid red !important;
    }
}
